<% if game.status == "game won" %>
  <%= "The game is over. #{game.winner.email} won this match" %>
<% elsif game.status == "game tied" %>
  No one won this match.
<% elsif game.status == 'game in progress' %>
  <%= "It is #{game.active_player.email}'s turn." %>
<% end %>


<div class="board">
  <% board_state = board.state.split('') %>
  <% board_state.each_with_index do |cell, index| %>
    <div class="cell">
      <% if cell == "-" %>
        <%= link_to cell, board_path(board.id, position: index), method: :patch, remote: true %>
      <% else %>
        <%= cell %>
      <% end %>
    </div>
  <% end %>
</div>